body {
  padding-top: 50px;
}
.page-header {
	text-align: center;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.img_practice {
	margin-left: 80px;
}
.img_practice2 {
	margin-left: 80px;
	margin-top: 30px;
}

.picturefront {
	background-color: #d6d6d6;
	height: 400px;
	margin-left: -115px;
}
.picturefront_help {
	height: 400px;
	background-color:  #363636;
}
.picturefront_help2 {
	height: 400px;
	background-color:  #636363;
}
.picturefront_help3 {
	height: 400px;
	background-color:  #ffa500;
}
.picturefront_help4 {
	height: 400px;
	background-color:  #c3c3c3;
}
.aml_paragraph {
	color: white;
	padding-left: 50px;
    position: absolute;
    font-size: 35px;
    margin-top: 75px;
}
.aml_paragraph2 {
	color: white;
	padding-left: 450px;
    position: absolute;
    font-size: 35px;
    margin-top: 75px;
    margin-right: 35px;
}
.aml_img_help img {
	float: right;
	margin: auto;
	height: 400px;
    width: 400px;
}
.aml_img_help2 img {
	float: left;
	margin: auto;
	height: 400px;
    width: 400px;
}
.col-md-4 {
	padding-top: 20px;
}
.col-md-4 > img {
	height: 300px;
	width: 300px;
}
.aml_logosimg img {
	height: 1000px;
}
.aml_plogo {
	margin-left: 530px;
    margin-top: -990px;
    font-family: courier;
    font-weight: bold;
}
.aml_plogo2 {
	margin-top: 388px;
    margin-left: 500px;
    font-family: courier;
    font-weight: bold;
}
.aml_plogo3 {
	margin-left: 460px;
    margin-top: -106px;
    font-family: courier;
}
.aml_plogo4 {
	margin-top: 486px;
    margin-left: 230px;
    font-family: courier;
    font-weight: bold;
}
.aml_plogo5 {
	margin-left: 710px;
    margin-top: -22px;
    font-family: courier;
    font-weight: bold;
}
#footerb {
	margin-top: 100px;
	background-color: #10120d;
	margin-left: -50px;
	margin-right: -65px;
}
#footerb img {
	height: 300px;
	width: 300px;
	position: absolute;
	margin-left: 18px;
	margin-top: -12px;
}
.img50 {
	height: 40px;
	width: 40px;
	position: absolute;
	margin-left: -45px;
	margin-top: 5px;
}
.topic1 {
	position: relative;
	color: #d6d6d6;
	padding-left: 300px;
	padding-top: 50px;
	font-weight: bold;
	font-family: Verdana;
	font-size: 13px;
}
/*
th {
	color: #D3D9DF;
}
td {
	color: #f71046;
}
*/
.trademark {
	color: #d6d6d6;
	font-weight: bold;
	font-family: Verdana;
	font-size: 10px;
	text-align: center;
	padding-top: 75px;
}

a {transition: color 1s;
	color: auto;
 	}
a:link,
a:hover {color: auto}
a:visited {color: auto;}
a:active {
	transition: color ;
	color: auto;
}
/*all elements and objects after this row are in index.html Version 1.1 don't remove without permission of AML Productions*/
@media (min-width: 360px) {
	.footer_first_row {
		margin-top: 20%;
	}
	.media-aml {
		margin-top: 10%;
	}
}
@media (min-width: 320px) {
	.footer_first_row {
		margin-top: 20%;
	}
	.media-aml {
		margin-top: 10%;
	}
}
@media (min-width: 768px) {
	.footer_first_row {
		margin-top: 0%;
	}
	.media-aml {
		margin-top: 0%;
	}
}
@media (min-width: 1024px) {
	.footer_first_row {
		margin-top: 0%;
	}
	.media-aml {
		margin-top: 0%;
	}
}
/*all elements and objects after this row are in logos.html Version 1.1 don't remove without permission of AML Productions*/
.media_logos, .media_logos2, .media_logos3 img {
	width: 100%;
	align-items: center;
}
.media_logos, .media_logos2, .media_logos3 p {
	color: #f9f9f9;
}
@media (min-width: 360px) {
	.media_logos img {
		width: 260px;
	}
	.media_logos2 img {
		width: auto;
	}
	.media_logos3 img {
		width: auto;
	}
}
@media (min-width: 412px) {
	.media_logos img {
		width: 320px;
	}
	.media_logos2 img {
		width: 360px;
	}
	.media_logos3 img {
		width: 360px;
	}
}
@media (min-width: 320px) {
	.media_logos img {
		width: 260px;
	}
	.media_logos2 img {
		width: 260px;
	}
	.media_logos3 img {
		width: 260px;
	}
}
@media (min-width: 375px) {
	.media_logos img {
		width: 260px;
	}
	.media_logos2 img {
		width: 310px;
	}
	.media_logos3 img {
		width: 310px;
	}
}
@media (min-width: 414px) {
	.media_logos img {
		width: 320px;
	}
	.media_logos2 img {
		width: 360px;
	}
	.media_logos3 img {
		width: 360px;
	}
}
@media (min-width: 768px) {
	.media_logos img {
		width: auto;
	}
	.media_logos2 img {
		width: auto;
	}
	.media_logos3 img {
		width: auto;
	}
}
@media (min-width: 1024px) {
	.media_logos img {
		width: auto;
	}
	.media_logos2 img {
		width: auto;
	}
	.media_logos3 img {
		width: auto;
	}
}
/*all of informacion.html it will be in informacion.css*/
